@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  font-size: clamp(1rem, 0.65rem + 0.6vw, 2rem);
  color: #989EA7;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

button {
  background-color: #3B5CEE;
  border-radius: 0.5em;
  border-style: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  color: #FFF;
  font-weight: 500;
  line-height: 1.6;
  padding: 0.6rem 1.4rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  text-decoration: none;
  position: relative;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
button:hover {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  background-color: #6079e9;
}
button:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 0.5em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0 0 1rem 3rem white;
          box-shadow: 0 0 1rem 3rem white;
}
button:active:after {
  -webkit-box-shadow: 0 0 0 0 white;
          box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 0.5em;
  left: 0;
  top: 0;
  opacity: 1;
  -webkit-transition: 0s;
  transition: 0s;
}
button:active {
  top: 1px;
}

h1,
h2,
.hotel-tile {
  font-family: "Poppins";
  color: #000B2C;
  font-size: 3.5rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  line-height: 1.2;
}

p {
  font-weight: 400;
}

select {
  font-size: 1rem;
  color: #989EA7;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-style: none;
}

.grid {
  display: grid;
}

.section-body {
  margin: 0 9%;
  padding-top: 10.625rem;
}

footer {
  margin: 0 9%;
  padding-top: 6rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 9%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F3F5F7;
}

.logo {
  font-size: 2rem;
  line-height: 1.3;
  color: #001336;
  font-weight: 700;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
}

.navbar-link {
  font-weight: 400;
  color: #746767;
}
.navbar-link:hover, .navbar-link.active {
  color: #2B3F65;
  font-weight: 600;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.section-hero {
  background-color: #F3F5F7;
  padding: 3.5rem 0 0 9%;
}

.container-hero {
  grid-template-columns: 1fr 0.5fr 2.7fr 3fr 0.75fr;
}

.hero-text {
  grid-column: 1/4;
  align-self: flex-start;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  align-self: flex-start;
  z-index: 2;
}

.section-hero-bg {
  grid-column: 3/-1;
  z-index: 1;
}

.section-hero-bottom {
  grid-column: 1/-2;
  align-self: flex-end;
  background-color: #FFF;
  -webkit-box-shadow: 0px 20px 70px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 20px 70px rgba(0, 0, 0, 0.08);
  border-radius: 11px;
  height: 9.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.hero-text,
.section-hero-bg,
.section-hero-bottom {
  grid-row: 1/2;
}

.hero-heading {
  padding-bottom: 1.5rem;
}

.hero-desc {
  padding-bottom: 2rem;
}

.hero-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  gap: 2rem;
}

.ban-num {
  font-size: 1.5rem;
  font-weight: 600;
  color: #001336;
  padding-bottom: 1rem;
}

.bar-item-name {
  font-weight: 500;
  color: #000B2C;
  font-size: 1.1rem;
  padding-bottom: 0.8rem;
}

.select-menu {
  position: relative;
}

.arrow {
  display: block;
  height: 100%;
  width: 1.5rem;
  position: absolute;
  top: 0;
  right: -1.8rem;
}

.grid-two-column {
  -webkit-column-gap: 8.75rem;
     -moz-column-gap: 8.75rem;
          column-gap: 8.75rem;
  row-gap: 4.375rem;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
}

.about-us-img {
  width: 100%;
}

.about-us-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.about-us-ico {
  width: 4.514vw;
  padding-bottom: 1rem;
}

.about-us-desc {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000B2C;
  padding-bottom: 1rem;
}

.about-us-text {
  padding-bottom: 0.5rem;
}

.grid-three-column {
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 3rem;
}

.home-types {
  list-style: none;
  gap: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.find-house-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-img-2,
.home-img-1 {
  grid-row: auto/span 2;
}

.explore-btn {
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
}

.house-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.comfort-container {
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  gap: 5rem;
}

.comfort-img {
  display: grid;
  grid-template-columns: 2fr 0.5fr 0.5fr 0.8fr;
  gap: 1rem;
}

.play-btn {
  min-width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.play-button {
  align-self: center;
  grid-column: 2/span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

.comfort-house-1 {
  grid-column: 1/3;
}

.comfort-house-2 {
  grid-column: 3/-1;
}

.play-button,
.comfort-house-1,
.comfort-house-2 {
  grid-row: 1/2;
}

.comfort-head {
  max-inline-size: 16ch;
  padding-left: 0.5rem;
}

.comfort-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding-left: 2rem;
  list-style: none;
}
.comfort-listli::before {
  content: "•";
  color: #79BBF2;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.comfort-list-content {
  font-weight: 600;
  color: #000B2C;
}

.comfort-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.comfort-para {
  padding-left: 0.5rem;
}

.container-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 4rem;
}

.live-btn {
  font-size: 0.9rem;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.live-head {
  font-weight: 600;
  color: #000B2C;
}

.container-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 20px 70px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 20px 70px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
  padding: 1rem;
}

.hotel-resort {
  border-radius: 9px;
  padding-bottom: 1.25rem;
}

.hotel-title {
  color: #000B2C;
  font-weight: 600;
  font-size: 1.4rem;
  padding-bottom: 0.3rem;
}

.hotel-add {
  font-family: "Poppins";
  font-size: 1.2rem;
}

.hotel-price {
  font-size: 1.75rem;
  font-weight: 600;
  color: #3954AF;
  text-align: right;
}

.testimonial-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial-hea {
  max-inline-size: 18ch;
  text-align: center;
  padding-bottom: 4rem;
}

.tes-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
}

.tes-card {
  max-width: 48%;
  -webkit-box-shadow: 0px 20px 70px 0px rgba(0, 0, 0, 0.0901960784);
          box-shadow: 0px 20px 70px 0px rgba(0, 0, 0, 0.0901960784);
  border-radius: 1rem;
}

.tes-content {
  padding: 2rem;
}

.tes-p {
  font-size: 0.8rem;
}

.tes-p2 {
  font-size: 0.75rem;
}

.customer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
}

.customer-name {
  color: #000B2C;
  padding-bottom: 0.5rem;
}

.tes-name {
  padding-left: 1rem;
}

.get-house-container {
  background-color: #3936C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10rem;
}

.consult-h {
  color: #FFF;
  line-height: 2.8;
}

.consult-p {
  color: #FAF7F7;
  line-height: 1.9;
  padding-bottom: 2.5rem;
}

.consult-btn {
  color: #3936C4;
}

.consult-bg {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.dream-house-text {
  font-family: "Inter";
  padding: 3rem;
  max-inline-size: 46ch;
  -ms-flex-preferred-size: 300rem;
      flex-basis: 300rem;
}

.consult-btn {
  background-color: #FFF;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 3rem;
}

.footer-logo {
  font-weight: 600;
  padding-bottom: 2rem;
}

.footer-p {
  max-inline-size: 20ch;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-icons {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: none;
      flex-wrap: none;
  gap: 2.1rem;
}

.footer-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 2.5rem;
  padding-bottom: 2rem;
}

.scrollTop-style {
  position: fixed;
  right: 2%;
  bottom: 5%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4rem;
  width: auto;
  visibility: hidden;
}

.scroll-top {
  background: #3B5CEE;
  display: inline-block;
  color: #FFF;
  cursor: pointer;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  padding: 1rem;
}/*# sourceMappingURL=main.css.map */