@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  color: #989EA7;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #000B2C;
}

h1 {
  font-size: 4rem;
  line-height: 1.15625;
}

h2 {
  font-size: 2.25rem;
  line-height: 1.278;
}

.btn {
  font-weight: 500;
  color: #FFFFFF;
  background-color: #3B5CEE;
  border-radius: 0.688rem;
  font-family: inherit;
  font-size: 1rem;
  border-style: none;
}

.logo-text {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.3125;
  color: #001336;
}

.navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-column-gap: 2.625rem;
     -moz-column-gap: 2.625rem;
          column-gap: 2.625rem;
}

.nav-li {
  font-size: 1.125rem;
  line-height: 1.67;
  color: #746767;
  text-decoration: none;
}
.nav-li.active {
  font-weight: 600;
  color: #2B3F65;
}

.header-btn {
  line-height: 1.625;
  padding: 0.688rem 1.438rem;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F3F5F7;
  padding: 2rem 9.375vw 0;
}

.hero-section {
  background-color: #F3F5F7;
  padding-top: 5.25rem;
  padding-left: 9.375vw;
}

.hero-container {
  display: grid;
  grid-template-columns: 0.8fr 1.4fr 1.7fr 0.45fr;
  grid-template-rows: 1.6fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.hero-bg {
  grid-area: 1/2/3/5;
}

.hero-bar {
  grid-area: 2/1/3/4;
}

.hero-text {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: 1.1fr 0.9fr;
  gap: 4.063rem 0px;
  grid-auto-flow: row;
  grid-area: 1/1/2/3;
}

.hero-num {
  grid-area: 2/1/3/2;
}

.hero-title {
  grid-area: 1/1/-1/-1;
}

.hero-desc {
  font-size: 1.25rem;
  line-height: 1.5;
}

.hero-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.625rem;
     -moz-column-gap: 2.625rem;
          column-gap: 2.625rem;
}

.ban-num {
  font-size: 1.875rem;
  color: #001336;
  font-weight: 600;
}

.hero-heading {
  padding-top: 2.188rem;
  padding-bottom: 1.875rem;
}

.hero-bar {
  background-color: #FFFFFF;
  border-radius: 0.563rem;
  -webkit-box-shadow: 0px 1.25rem 4.375rem rgba(0, 0, 0, 0.08);
          box-shadow: 0px 1.25rem 4.375rem rgba(0, 0, 0, 0.08);
}

.hero-bar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.188rem 4.375rem 2.25rem;
}

.bar-item-name {
  color: #000B2C;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.67;
  padding-bottom: 0.25rem;
}

.bar-item {
  padding: 0 65px;
  border-right: 0.094rem solid black;
}
.bar-item:first-child {
  padding-left: 0;
}
.bar-item:nth-child(3), .bar-item:last-child {
  border: none;
}
.bar-item:last-child {
  padding-right: 0;
}

.select-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select {
  position: relative;
  min-width: 155px;
}
.select svg {
  position: absolute;
  top: calc(50% - 3px);
  width: 14.5px;
  height: 7.5px;
  stroke-width: 1.4px;
  stroke: #5A35F0;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}
.select select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.125rem;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  line-height: 1.67;
  background-color: white;
  padding-right: 10px;
}
.select select:required:invalid {
  color: #5a667f;
}
.select select option {
  color: #223254;
}
.select select option[value=""][disabled] {
  display: none;
}

.sprites {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.search-btn {
  padding: 0.625rem 1.563rem;
  font-size: 1.125rem;
  border-radius: 0.563rem;
  line-height: 1.67;
}

.section-aboutus {
  margin: 10.625rem 8.438rem 0;
}

.aboutus-container {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  grid-template-rows: 0.5fr 2.1fr 0.4fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 20px;
  grid-auto-flow: row;
}

.aboutus-left {
  display: grid;
  grid-template-columns: 1.5fr 1fr 0.5fr;
  grid-template-rows: 0.5fr 2.1fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-area: 1/1/4/2;
}

.aboutus-h {
  grid-area: 1/1/2/3;
}

.aboutus-img {
  grid-area: 2/1/4/3;
}

.aboutus-rent {
  grid-area: 3/2/4/4;
}

.aboutus-p {
  grid-area: 1/2/2/3;
}

.aboutus-text-container {
  grid-area: 2/2/3/3;
}/*# sourceMappingURL=main.css.map */