@use '_var.sass' as var

.section-aboutus
    padding-top: 10.625rem
    margin: 0 10rem

.grid-two-column
    column-gap: 1.25rem
    row-gap: 4.375rem

.about-us-img
    width: 100%

.about-us-text-container
    display: flex
    flex-direction: column
    row-gap: 50px
    align-items: flex-start


.about-us-ico
    width: 3.385vw
