.comfort-img
    display: flex
    align-items: flex-start
    object-fit: contain

.comfort-house
    overflow: hidden

.comfort-text

.comfort-head,.comfort-para,.comfort-btn
    grid-column: auto / span 2
