@use '_var.scss' as var;

.section-aboutus {
    margin: 10.625rem 8.438rem 0;
}

.aboutus-container {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: 0.5fr 2.1fr 0.4fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 20px;
    grid-auto-flow: row;
}

.aboutus-left {
    display: grid;
    grid-template-columns: 1.5fr 1fr 0.5fr;
    grid-template-rows: 0.5fr 2.1fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-area: 1 / 1 / 4 / 2;
}

.aboutus-h {
    grid-area: 1 / 1 / 2 / 3;
}

.aboutus-img {
    grid-area: 2 / 1 / 4 / 3;
}

.aboutus-rent {
    grid-area: 3 / 2 / 4 / 4;
}

.aboutus-p {
    grid-area: 1 / 2 / 2 / 3;
}

.aboutus-text-container {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.aboutus-text-h {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.4167;
    color: var.$h1;
    padding-top: 2rem;
    padding-bottom: 0.938rem;
}

.aboutus-ico {
    width: 65px;
    height: 65px;
}

.aboutus-text-p {
    font-size: 1.125rem;
    line-height: 1.56;
}

.property-ico {
    width: 32px;
    height: 32px;
}

.rent-content {
    background-color: var.$btn-text;
    box-shadow: 0px 20px 70px rgba(0, 0, 0, 0.07);
    border-radius: 9px;
    display: flex;
    align-items: center;
}

.property-ico-container {
    background-color: var.$btn-bg;
    width: 65px;
    height: 65px;
    margin: 26px 21px 24px 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
}

.total-rent {
    font-size: 1.125rem;
    line-height: 1.5;
    color: var.$h1;
}

.rent-unit {
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 1.278;
    color: var.$h1;
}