@use '_var.sass' as var

.grid-two-column
    column-gap: 1.25rem
    row-gap: 4.375rem

.about-us-img
    width: 100%

.about-us-text-container
    display: flex
    flex-direction: column
    row-gap: 50px
    align-items: flex-start

.about-us-ico
    width: 3.385vw

.find-house-img
    width: 100%
    object-fit: cover

.home-img-2,
.home-img-1
    grid-row: auto / span 2

.home-img-1

.explore-btn
    align-self: center
    justify-self: center
