@use '_var.scss' as var;

.logo-text {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.3125;
    color: var.$logo;
}

.navbar-list {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 2.625rem;
}

.nav-li {
    font-size: 1.125rem;
    line-height: 1.67;
    color: var.$header-li;
    text-decoration: none;

    &.active {
        font-weight: 600;
        color: var.$a-active;
    }
}

.header-btn {
    line-height: 1.625;
    padding: 0.688rem 1.438rem;
}

.header-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: var.$header-bg;
    padding: 2rem 9.375vw 0;
}

.hero-section {
    background-color: var.$header-bg;
    padding-top: 5.25rem;
    padding-left: 9.375vw;
}

.hero-container {
    display: grid;
    grid-template-columns: 0.8fr 1.4fr 1.7fr 0.45fr;
    grid-template-rows: 1.6fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
}

.hero-bg {
    grid-area: 1 / 2 / 3 / 5;
}

.hero-bar {
    grid-area: 2 / 1 / 3 / 4;
}

.hero-text {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 1.1fr 0.9fr;
    gap: 4.063rem 0px;
    grid-auto-flow: row;
    grid-area: 1 / 1 / 2 / 3;
}

.hero-num {
    grid-area: 2 / 1 / 3 / 2;
}

.hero-title {
    grid-area: 1 / 1 / -1 / -1;
}

.hero-desc {
    font-size: 1.25rem;
    line-height: 1.5;
}

.hero-num {
    display: flex;
    column-gap: 2.625rem;
}

.ban-num {
    font-size: 1.875rem;
    color: var.$logo;
    font-weight: 600;
}

.hero-heading {
    padding-top: 2.188rem;
    padding-bottom: 1.875rem;
}

.hero-bar {
    background-color: var.$btn-text;
    border-radius: 0.563rem;
    box-shadow: 0px 1.25rem 4.375rem rgba(0, 0, 0, 0.08);
}

.hero-bar-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 3.188rem 4.375rem 2.25rem;
}

.bar-item-name {
    color: var.$h1;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.67;
    padding-bottom: 0.25rem;
}

.bar-item {
    padding: 0 65px;
    border-right: 0.094rem solid black;

    &:first-child {
        padding-left: 0;
    }

    &:nth-child(3),
    &:last-child {
        border: none;
    }

    &:last-child {
        padding-right: 0;
    }
}

.select-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.select {
    position: relative;
    min-width: 155px;

    svg {
        position: absolute;
        top: calc(50% - 3px);
        width: 14.5px;
        height: 7.5px;
        stroke-width: 1.4px;
        stroke: var.$arrowdown2;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        pointer-events: none;
    }

    select {
        appearance: none;
        width: 100%;
        border: none;
        cursor: pointer;
        font-family: inherit;
        font-size: 1.125rem;
        transition: all 150ms ease;
        line-height: 1.67;
        background-color: white;
        padding-right: 10px;

        &:required:invalid {
            color: #5a667f;
        }

        option {
            color: #223254;

            &[value=""][disabled] {
                display: none;
            }
        }
    }
}

.sprites {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}

.search-btn {
    padding: 0.625rem 1.563rem;
    font-size: 1.125rem;
    border-radius: 0.563rem;
    line-height: 1.67;
}