@use '_var.scss' as var;

// navbar

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 8.438rem;
    justify-content: space-between;
    background-color: var.$hero-bg-color;
    height: 7rem;
}

.logo {
    font-size: 2rem;
    line-height: 1.3125;
    color: var.$logo-color;
    font-weight: var.$logo-font-wt;
    flex-shrink: 2;
}

.navbar {
    display: flex;
    gap: 2.625rem;
    flex-shrink: 1;
}

.navbar-link {
    font-weight: var.$regular-font-wt;
    color: var.$nav-link-color;
    font-size: 1.125rem;
    line-height: 1.67;

    &:hover,
    &.active {
        color: var.$link-hov-act;
        font-weight: var.$semibold;
        transition: color .3s linear;
    }
}

.nav-button {
    flex-shrink: 2;
}

.nav-btn {
    font-weight: var.$medium-font-wt;
    font-size: 1rem;
    line-height: 1.625;
}

// hero section

.section-hero {
    background-color: var.$hero-bg-color;
    padding: 3.125rem 0 0 8.438rem;
}

.container-hero {
    grid-template-columns: 1fr .5fr 4fr 3fr 1.3fr;
    margin: 0 0 0 auto;
}

.hero-text {
    grid-column: 1 / 4;
    align-self: flex-start;
    padding: 2.188rem 0;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    z-index: 2;
}

.section-hero-bg {
    grid-column: 3 / -1;
    z-index: 1;
}

.section-hero-bottom {
    grid-column: 1 / -2;
    align-self: flex-end;
    background-color: var.$body-bg-color;
    box-shadow: 0px 20px 70px rgba(0, 0, 0, 0.08);
    border-radius: 11px;
    height: 10.694vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}

.hero-text,
.section-hero-bg,
.section-hero-bottom {
    grid-row: 1 / 2;
}

.hero-heading {
    padding-bottom: 1.875rem;
}

.hero-desc {
    font-size: 1.25rem;
    padding-bottom: 4.063rem;
}

.hero-num {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    gap: 2rem;
}

.ban-num {
    font-size: 1.875rem;
    font-weight: var.$semibold;
    color: var.$logo-color;
    padding-bottom: 0.813rem;
    line-height: 1rem;
}

.ban-text {
    line-height: 1.75;
}

.bar-item-name {
    font-weight: var.$medium-font-wt;
    color: var.$h1-color;
    font-size: 1.125rem;
    padding-bottom: 0.438rem;
    line-height: 1.67;
}

.select-menu {
    position: relative;
}

.arrow {
    display: block;
    height: 100%;
    width: 1.5rem;
    position: absolute;
    top: 0;
    right: -1.8rem;
}

.search-btn {
    font-size: 1.125rem;
    padding: 0.625rem 1.563rem;
    line-height: 1.67;
}

// stiky responsive navbar
.sticky .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 6;
    box-shadow: var.$nav-shadow;
}

// ? not working correctly
.sticky .section-hero {
    margin-top: 7rem;
}