@use "_var.scss" as var; // media queries

@media(max-width:375px) {

    //header
    .header {
        position: relative;
        padding: 0.5rem 2rem;
    }

    .logo {
        font-size: 2rem;
    }

    .nav-button {
        visibility: hidden;
    }

    .mobile-navbar-btn {
        display: block;
        z-index: 9;
        color: var.$btn-color ;
    }

    .mobile-nav-icon {
        width: 2.5rem;
        height: 2.5rem;
        color: var.$btn-color;
    }

    .navbar {
        gap: 0;
        z-index: 3;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background: var.$gradient-1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        transition: all 0.5s linear;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;

        &.active {
            transform: translateX(0%);
            visibility: visible;
            opacity: 1;
            pointer-events: auto;
        }

        .mobile-nav-icon[name="menu-outline"] {
            display: none;
        }

        .mobile-nav-icon[name="close-outline"] {
            display: block;
        }
    }

    .nav-button {
        flex-shrink: 2;
    }

    // hero section

    .section-hero {
        padding: 0 0 0 2rem;
    }

    .container-hero {
        grid-template-columns: repeat(5, 1fr);
    }

    .hero-text {
        grid-column: 1 / -1;
        padding: 1.188rem 0;
    }

    .section-hero-bg {
        grid-column: 1 / -1;
        grid-row: 2/-1;
        z-index: 1;
    }

    .section-hero-bottom {
        grid-column: 1 / -1;
        box-shadow: 0 1.25rem 4.375rem rgba(0, 0, 0, 0.08);
        border-radius: 0.688rem;
        height: fit-content;
        flex-direction: column;
        z-index: 2;
        grid-row: 2/3;
        gap: 1rem;
    }

    .hero-text,
    .section-hero-bg {
        grid-row: 1 / 2;
    }

    .hero-heading {
        padding-bottom: 1rem;
    }

    .hero-desc {
        color: var.$h1-color;
        padding-bottom: 4.063rem;
        mix-blend-mode: difference;
    }

    .bar-item {
        border-bottom: 0.125rem solid black;
        padding: 1rem 0;

        &:last-child {
            border: none;
        }
    }

    // body top about us 

    .grid-two-column {
        column-gap: 4.75rem;
        row-gap: 2.375rem;
        grid-template-columns: 1fr
    }

    .about-us-ico {
        width: 3.063rem;
        height: 3.063rem;
        align-self: center;
    }

    .about-us-desc,
    .about-us-text {
        align-self: center;
    }

    // body middle find home incomplete

    .grid-three-column {
        grid-template-columns: repeat(1, 1fr);
    }

    // body comfort

    .comfort-container {
        grid-template-columns: repeat(1, 1fr);
    }

    // body bottom live who you are

    .container-top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .live-head {
        font-weight: var.$semibold;
        color: var.$h1-color;
        padding-bottom: 1rem;
    }

    .live-desc {
        padding-bottom: 0.5rem;
    }

    .owm-para {
        text-align: center;
    }

    .cards {
        overflow-x: scroll;
        min-width: 200px;
    }

    // testimonial
    .tes-card {
        max-width: 100%;
    }

    .tes-card-container {
        flex-direction: column;
    }

    .tes-img {
        max-width: 5rem;
        max-height: 5rem;
    }

    // consulation
    .dream-house-text {
        position: absolute;
    }

    .get-house-container {
        flex-direction: column;
        overflow: hidden;
    }

    //slide on hover text not working
    .dream-house-img {
        overflow: hidden;
        width: 100%;
        height: 500px;

        .consult-bg {
            transform: translateX(0px);
            transition: transform 500ms ease-in-out;

            &:hover {
                transform: translateX(400px);
            }
        }

    }

    //footer
    .footer-container,
    .footer-nav,
    .footer-bar {
        flex-direction: column;
        gap: 2rem;
    }


}

//tablet size

@media(min-width:425px) and (max-width: 912px) {
    .header {
        position: relative;
        padding: 1rem 4rem;

        .logo {
            font-size: 2.6rem;
        }
    }

    .nav-button {
        visibility: hidden;
    }

    .mobile-navbar-btn {
        display: block;
        z-index: 9;
        color: var.$btn-color ;
    }

    .mobile-nav-icon {
        width: 2.5rem;
        height: 2.5rem;
        color: var.$btn-color;
    }

    .navbar {
        z-index: 4;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background: var.$gradient-1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        transition: all 0.5s linear;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;

        &.active {
            transform: translateX(0%);
            visibility: visible;
            opacity: 1;
            pointer-events: auto;
        }

        .mobile-nav-icon[name="menu-outline"] {
            display: none;
        }

        .mobile-nav-icon[name="close-outline"] {
            display: block;
        }
    }

    .navbar-link {
        color: var.$hero-bg-color;
        font-size: 2rem;
    }

    .section-hero {
        padding: 0 0 0 5rem;
    }

    .section-body {
        margin: 0 5rem;
        padding-top: 5.625rem;
    }

    .grid-two-column {
        column-gap: 4.75rem;
        row-gap: 2.375rem;
    }

    .comfort-list {
        gap: 0;
    }

    .dream-house-img {
        width: 100%;
    }

    .dream-house-text {
        padding: 2rem;
    }
}

@media(max-width: 1024px) {
    .ban-text {
        color: var.$logo-color;
    }

    .home-types {
        gap: 2vw;
    }
}