// SCSS hex color
$logo: #001336;
$a-active: #2B3F65;
$header-li: #746767;
$btn-bg: #3B5CEE;
$btn-text: #FFFFFF;
$h1: #000B2C;
$primary1: #989EA7;
$arrowdown1: #3936C4;
$arrowdown2: #5A35F0;
$arrowdown3: #3424F3;
$a-active2: #6796F1;
$dot: #79BBF2;
$price: #3954AF;
$header-bg: #F3F5F7;