@use '_var.scss' as var;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Inter", sans-serif;
    color: var.$html-font-color;

}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-inline-size: 100%;
    block-size: auto;
    object-fit: contain;
}

button {
    background-color: var.$btn-color;
    border-radius: 0.5em;
    border-style: none;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    color: var.$btn-font-color;
    font-weight: var.$medium-font-wt ;
    line-height: 1.6;
    padding: 0.6rem 1.4rem;
    user-select: none;
    text-align: center;
    text-decoration: none;
}

h1,
h2,
.hotel-tile {
    font-family: 'Poppins';
    color: var.$h1-color;
    font-size: 3.5rem;
    font-weight: var.$semibold;
}

h2 {
    font-size: 2rem;
    line-height: 1.2;
}

p {
    font-weight: var.$regular-font-wt;
}

select {
    font-size: 1rem;
    color: var.$html-font-color;
    appearance: none;
    border-style: none;
}

.grid {
    display: grid;
}

.section-body {
    margin: 0 9%;
    padding-top: 10.625rem;
}

footer {
    margin: 0 9%;
    padding-top: 6rem;
}

// hero section

@import "_hero-section.scss";

// body section

@import "_body.scss";

// footer section
@import "_footer.scss";

//scroll to top
.scrollTop-style {
    position: fixed;
    right: 2%;
    bottom: 5%;
    z-index: 2;
    display: flex;
    justify-content: center;
    height: 4rem;
    width: auto;
    visibility: hidden;
}

.scroll-top {
    background: var.$btn-color;
    display: inline-block;
    color: var.$btn-font-color ;
    cursor: pointer;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    padding: 1rem;
}

//mobile navbar button
.mobile-navbar-btn {
    display: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.mobile-nav-icon[name="close-outline"] {
    display: none;
}

//responsive code
@import "_responsive.scss";