@use '_var.scss' as var;
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Inter', sans-serif;
    color: var.$primary1;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1,
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var.$h1;
}

h1 {
    font-size: 4rem;
    line-height: 1.15625;
}

h2 {
    font-size: 2.25rem;
    line-height: 1.278;
}

.btn {
    font-weight: 500;
    color: var.$btn-text;
    background-color: var.$btn-bg;
    border-radius: 0.688rem;
    font-family: inherit;
    font-size: 1rem;
    border-style: none;
}

img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

@import '_header.scss';

@import '_body.scss';

@import '_footer.scss';

@import '_mquery.scss';