@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@400;500&display=swap')
@import "_var"

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: "Inter", sans-serif

html
    font-size: 1.125rem

h1
    font-family: "Poppins", sans-serif
    color: $heading
    font-size: 4rem
    font-weight: 600

p
    color: $para
    font-weight: 400
    size: 1.25px
    line-height: 30px

a
    text-decoration: none

li
    list-style: none

@import "_header"
