@use '_var.sass' as var
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@400;500&display=swap')

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: "Inter", sans-serif

p
    color: var.$para
    font-weight: 400
    font-size: 1.4rem
    line-height: 2rem

a
    text-decoration: none

li
    list-style: none

button
    background-color: var.$btn-clr
    border-radius: 11px
    border-style: none
    color: #FFF
    cursor: pointer
    display: inline-block
    font-size: 1.2rem
    font-weight: 500
    line-height: 2rem
    padding: 0.8rem 1.5rem
    text-transform: capitalize

.section
    padding: 5rem 0

.grid
    display: grid
    gap: 5rem

.grid-four-column
    grid-template-columns: repeat(5,1fr)
// ---------- header ----------  
@import "_header.sass"

// hero section
@import "_hero-section.sass"
